
<div class="container-general">

<mat-card class="grid-container-card">
   <form [formGroup]="authForm" >

 
   <mat-card-content class="grid-custom">
      <mat-form-field appearance="outline">
         <mat-label>Outline form field</mat-label>
         <input formControlName="email" matInput placeholder="Placeholder">
         <mat-icon matSuffix>perm_identity</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="outline">
         <mat-label>Outline form field</mat-label>
         <input formControlName="password" type="password" matInput placeholder="Placeholder">
         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       </mat-form-field>

       <button (click)="login()" mat-raised-button color="primary">Primary</button>

   </mat-card-content>
   </form>
 </mat-card>
</div>